# Slack credentials
SLACK_BOT_TOKEN=<xoxb-your-token-here>
SLACK_SIGNING_SECRET=<your-signing-secret-here>

# LLM API key
GEMINI_API_KEY=<your-gemini-api-key-here>

# Log channel for bot actions
KLUGBOT_LOG_CHANNEL=klugbot-logs

# Database connection
# This can also be set in docker-compose.yml, but is safer to do here 
# so that db user and password don't end up in your repo
POSTGRES_USER=<pg_user>
POSTGRES_PASSWORD=<pg_password>
POSTGRES_IP=db # Change if you are using another PG instance otherwise leave as is
POSTGRES_PORT=5432 # Change if your PG instance is running on another port
POSTGRES_DB=klugbot_kb # Change if you want to name it something else